<!DOCTYPE html>
<html>

@include('include.head')

<body class="theme-red">

    @include('include.navbar')
    @include('include.sidebar')

    <section class="content">
        @!section('content')
    </section>

    @include('include.bodyscript')
</body>

</html>