{{ script('plugins/jquery/jquery.min') }} 
<!-- Bootstrap Core Js -->
{{ script('plugins/bootstrap/js/bootstrap') }} 
<!-- Select Plugin Js -->
{{ script('plugins/bootstrap-select/js/bootstrap-select') }} 
<!-- Slimscroll Plugin Js -->
{{ script('plugins/jquery-slimscroll/jquery.slimscroll') }} 
<!-- Waves Effect Plugin Js -->
{{ script('plugins/node-waves/waves') }} 
<!-- Jquery DataTable Plugin Js -->
{{ script('plugins/jquery-datatable/jquery.dataTables') }} 
{{ script('plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap') }} 
{{ script('plugins/jquery-datatable/extensions/export/dataTables.buttons.min') }} 
{{ script('plugins/jquery-datatable/extensions/export/buttons.flash.min') }} 
{{ script('plugins/jquery-datatable/extensions/export/jszip.min') }} 
{{ script('plugins/jquery-datatable/extensions/export/pdfmake.min') }} 
{{ script('plugins/jquery-datatable/extensions/export/vfs_fonts') }} 
{{ script('plugins/jquery-datatable/extensions/export/buttons.html5.min') }} 
{{ script('plugins/jquery-datatable/extensions/export/buttons.print.min') }} 
<!-- Custom Js -->
{{ script('js/admin') }} 
{{ script('js/pages/tables/jquery-datatable') }} 
<!-- Demo Js -->
{{ script('js/demo') }} 

<!-- {{ script('app') }}  === <script type="text/javascript" src="/app') }}   -->